a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.navbar > ul {
    display: flex;
    flex-direction: row;
    margin-left: .5rem;
}

.navbar > ul > li {
    margin-right: 1rem;
}

.navbar > ul > li a {
    color: brown;
    font-size: 1.2rem;
}

.navbar > ul > li a:hover {
color: blue;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}
  
.sobre > .img-header {
    width: 25rem;
    height: 18.75rem;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}

.contato > .conteudo,
.contato > .conteudo > .blocos > .campos {
    display: flex;
    flex-direction: row;
}

.contato > .conteudo {
    justify-content: center;
    align-items: center;
}

.contato > .conteudo > .blocos {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
}

.contato > .conteudo > .blocos > .campos,
.contato > .conteudo > .blocos > .campos > label {
    padding: 1rem;
}

.home {
    display: flex;
    width: 100vw;
    height: 85vh;
}

.home > .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.home > .header > img {
    width: 90vw;
    height: 23rem;
}